In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
data=("C://Users//Ataberk//Downloads\car_evaluation.csv")
df = pd.read_csv(data,header=None)

In [41]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [42]:
col_names=["buying","maint","door","persons","lug_boot","safety","class"]
df.columns=col_names
col_names

['buying', 'maint', 'door', 'persons', 'lug_boot', 'safety', 'class']

In [43]:
df.head()

  buying  maint door persons lug_boot safety  class
0  vhigh  vhigh    2       2    small    low  unacc
1  vhigh  vhigh    2       2    small    med  unacc
2  vhigh  vhigh    2       2    small   high  unacc
3  vhigh  vhigh    2       2      med    low  unacc
4  vhigh  vhigh    2       2      med    med  unacc

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   door      1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [45]:
for col in col_names:
    print(df[col].value_counts())

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64
2        432
3        432
4        432
5more    432
Name: door, dtype: int64
2       576
4       576
more    576
Name: persons, dtype: int64
small    576
med      576
big      576
Name: lug_boot, dtype: int64
low     576
med     576
high    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [46]:
df["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [47]:
df.isnull().sum()

buying      0
maint       0
door        0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [48]:
x=df.drop(["class"],axis=1)
y=df["class"]

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [50]:
x_train.shape,x_test.shape

((1157, 6), (571, 6))

In [51]:
x_train.dtypes

buying      object
maint       object
door        object
persons     object
lug_boot    object
safety      object
dtype: object

In [52]:
x_train.head()

     buying  maint   door persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [53]:
!pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in c:\users\ataberk\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: patsy>=0.5.1 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\ataberk\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ataberk\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ataberk\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\ataberk\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ataberk\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\ataberk\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\ataberk\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ataberk\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [54]:
import category_encoders as ce

In [55]:
encoder = ce.OrdinalEncoder(cols=["buying","maint","door","persons","lug_boot","safety",])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [56]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [57]:
from sklearn.metrics import accuracy_score
print("model accuracy n_estimator=10: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

model accuracy n_estimator=10: 0.9247

In [58]:
from sklearn.ensemble import RandomForestClassifier
rfc_100=RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("model accuracy n_estimator=100: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

model accuracy n_estimator=100: 0.9457